<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <% if current_user %>
      <li><%= link_to 'Profile', user_path(current_user) %></li>
    <% end %>
    <li><%= link_to 'Create an Election', new_election_path %></li>
    <li><%= link_to 'Get an Icebreaker', icebreakers_path %></li>
    <li><%= link_to 'Scrum Poker', poker_tables_path %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="logo">
        <img src="<%= asset_path( 'logo.png' ) %>"/>
      </a>
      <% if current_user %>
        <ul class="right">
          <li><a class="dropdown-trigger" href="#" data-target="dropdown1"><i class="material-icons right">menu</i></a></li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
