<h4>Profile Page</h4>
<h6>Username:</h6>
<p><%= @user.username %></p>
<h6>Email:</h6>
<p><%= @user.email %></p>
<h6>Birthday:</h6>
<p><%= @user&.birthday&.strftime("%b %d") %></p>
<h6>Work Anniversary:</h6>
<p><%= @user&.work_anniversary&.strftime("%b %d %y") %></p>
<br>
<%= link_to "Edit", edit_user_registration_path(), class: "btn waves-effect waves-light" %>
