<% if @election.votes.present? %>
  <div class="chart-inner">
    <%= pie_chart @election.format_votes, donut: true, library: { legend: { labels: { fontColor: "#66FCF1" } } } %>
  </div>
  <% @election.votes.each do |vote| %>
    <div>
      <% if(vote.is_seen) %>
        <h5 class="vote-message-title">Vote for: <%= vote.nominee_name %></h5>
        <p class="vote-message"><%= vote.message.html_safe %></p>
      <% else %>
        <% disabled = @election.created_by == current_user.id ? '' : 'disabled' %>
        <%= form_with model: vote do |f| %>
          <%= f.submit "Show", class: "btn show-message #{disabled}" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <img src="<%= asset_path( 'vote.png' ) %>" class="vote-logo" />
  <h5 class="center">No one has voted yet</h5>
<% end %>
