<% if @election.votes.present? %>
  <%= pie_chart @election.format_votes %>
  <% @election.votes.each do |vote| %>
    <div>
      <% if(vote.is_seen) %>
        <p>Vote for: <%= vote.nominee_name %></p>
        <p class="vote-message"><%= vote.message.html_safe %></p>
      <% else %>
        <%= form_with model: vote do |f| %>
          <%= f.submit "Show", class: "btn show-message" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h5>No one has voted yet</h5>
<% end %>
