<!DOCTYPE html>
<html>
  <head>
    <title>DevOfWeeks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= action_cable_meta_tag %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'partials/navigation' %>
    <div class='container'>
      <div class='row'>
        <div class='col s12'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
